.drop-container {
    position: relative;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    
    border-radius: 10px;
    border: 2px dashed #eee8e8;
    color: #b6b2c9;
    cursor: pointer;
    
  }
  .file_input{
    opacity: 0;
  }
  .label{
    text-align: left;
    color:white;
  }
  body{
    background:linear-gradient(130deg,rgb(17, 1, 46) 60%,rgb(109, 24, 227),rgb(17, 1, 46));
  }
  .input{
    background:transparent;
    border: 1px solid white;
    border-radius: 5px 5px;
    width: 100%;
    height: 35px;
    color:white;
    font-weight: lighter;
   
   

  }
  .color{
    color:white;
  }
